html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    background-color: #23415c;
    padding: 1% 0;
    font-size: 1.2em;
}
ul {
    margin-left: 70%;
}
.navbar-header img {
    margin-top: 10%;
    max-width: 100px;
}
.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-default .navbar-nav li a {
    color: #d5d5d5;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active {
    color: #fff;
}
#home {
    background: url(/img/mountains.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}
.landing-text a {
    color: darkgray;
}
.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;       
    border: none;
    cursor: pointer;
}
    
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem black;
}

.btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url(/img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: #23415C;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
}

.icon {
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        margin-top: 5%;
        width: 100px;
    }
}
